body {
	width: 100%;
}
$radial-gradient: radial-gradient(105.19% 408.75% at 95.73% -5.19%, #2377A7 0%, #003E76 100%);

.header {
	width: 100%;
	height: 572px;
	left: 0px;
	top: 0px;
	background: linear-gradient(86.7deg, #01ACD4 7.94%, #60C9EA 92.97%);
	span {
	position: absolute;
	width: 571px;
	height: 106px;
	left: 122px;
	top: 135px;
	font-family: "Outfit";
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 53px;
	text-transform: uppercase;
	color: white;
}
h4 {
	position: absolute;
	width: 439px;
	height: 80px;
	left: 122px;
	top: 261px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}
button {
	position: absolute;
	width: 185px;
	height: 42px;
	left: 122px;
	top: 369px;
	background: #064B87;
	border-radius: 6px;
	color: white;
}
.vectors{
	.img1{
		position: absolute;
	left: 58.9%;
	right: -12.78%;
	top: 0.6%;
	bottom: 77.52%;
}
.img2 {
	position: absolute;
	left: 58.9%;
	right: -12.78%;
	top: 0.6%;
	bottom: 77.52%;
}
.img3 {
	position: absolute;
	width: 979.81px;
	height: 229.04px;
	left: 559.35px;
	top: 314.57px;
}
.img4 {
	position: absolute;
	width: 1631.4px;
	height: 478.13px;
	left: 258px;
	top: 278.66px;
}
.img5 {
	position: absolute;
	width: 1631.4px;
	height: 478.13px;
	left: 260px;
	top: 278.66px;
	opacity: 0.2;
}
.img6 {
	position: absolute;
	width: 179px;
	height: 320.76px;
	left: 701px;
	top: 248.34px;
}
.img7 {
	position: absolute;
	width: 401.77px;
	height: 487.72px;
	left: 846.12px;
	top: 108px;
}
.img8 {
	position: absolute;
	width: 401.77px;
	height: 487.72px;
	left: 846.12px;
	top: 121px;
}
.img9 {
	position: absolute;
	width: 310px;
	height: 293px;
	left: 1308px;
	top: 284px;
}
.img10 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 1284px;
	top: 279px;
	transform: matrix(0, -1, -1, 0, 0, 0);
}
.img11 {
	position: absolute;
	width: 395px;
	height: 123.73px;
	left: 897px;
	top: 267px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
}

} 

	.topComponents {
		box-sizing: border-box;
		position: absolute;
		width: 1196px;
		height: 135px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 496px;
		opacity: 70%;
		background: #FFFFFF;
		box-shadow: 0px 25px 39px rgba(55, 110, 176, 0.13);
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		.icon{
border-radius: 100%;
		background-color: #2B98F7;
		width: 60px;
		height: 60px;
	}

		.blueComp {
			width: 22rem;
			background-color: #064B87;
		}
	} 
.mid{
	margin-top: 10rem;
	display: flex;
	justify-content: center;
	.midLeft{
		width: 30rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.midRight {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45rem;
		height: 23rem;
		.top {
				position: absolute;
				top: 0;
				right: 322px;
				display: flex;
				justify-content: start;
				align-items: center;
		width: 404px;
		height: 90px;
		background: rgba(255, 255, 255, 0.55);
		box-shadow: 0px 24px 74px rgba(22, 55, 92, 0.09);
		backdrop-filter: blur(22px);
		border-radius: 15px;

	}
	.bottom {
		position: absolute;
		width: 309px;
		height: 111px;
		top: 242px;
		right: 414px;
		background: rgba(255, 255, 255, 0.55);
		box-shadow: 0px 24px 74px rgba(22, 55, 92, 0.09);
		backdrop-filter: blur(22px);
		border-radius: 15px;
	}
	.right {
		position: absolute;
		width: 125px;
		height: 111px;
		right: 116px;
		top: 202px;
		background: rgba(255, 255, 255, 0.55);
		box-shadow: 0px 24px 74px rgba(22, 55, 92, 0.09);
		backdrop-filter: blur(22px);
		border-radius: 15px;
	}
	img{
		align-items: center;
	}} 
}
.bottomPart{
	display: flex;
	justify-content: center;
	margin-top: 12rem;
	flex-direction: row;
.bottomComp{
	width: 75rem;
	height: 387px;
	background: #{$radial-gradient};
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	.components{
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 68.5rem;
		border-radius: 10px;
		top: 1226px;
		.comp{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			background-color: #FFFFFF;
			max-width: 240.43px;
			max-height: 263px;
			border-radius: 10px;
				img{
						width: 15rem;
						height: 12.75rem;
					}
					p{
						font-weight: 600;
					}
		}
	}
}
}
.baseComp {
	position: relative;
	height: 6.5rem;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.22);
  
	.iconGroup {
	  display: flex;
	  justify-content: space-around;
	  position: absolute;
	  font-family: 'Poppins';
	  font-style: normal;
	  font-weight: 500;
	  font-size: 18px;
	  line-height: 27px;
	  text-align: center;
	  color: #FFFFFF;
	  top: -43px;
	  width: 100%;
	}
  }
  .para{
	display: flex; margin-top: 9rem; margin-bottom: 5rem; text-align: center;
	color: white;
	font-size: medium;
  }
  
  .roundIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.7rem;
	height: 3.7rem;
	background-color: #FFFFFF;
	border-radius: 100%;
	margin-bottom: 1.3rem;
  }
.iconComp{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}