body {
  width: 100%;
}

.header {
  width: 100%;
  height: 572px;
  left: 0px;
  top: 0px;
  background: linear-gradient(86.7deg, #01ACD4 7.94%, #60C9EA 92.97%);
}
.header span {
  position: absolute;
  width: 571px;
  height: 106px;
  left: 122px;
  top: 135px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 53px;
  text-transform: uppercase;
  color: white;
}
.header h4 {
  position: absolute;
  width: 439px;
  height: 80px;
  left: 122px;
  top: 261px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.header button {
  position: absolute;
  width: 185px;
  height: 42px;
  left: 122px;
  top: 369px;
  border-radius: 6px;
  background: url(./Images/icon5.png) no-repeat #064B87;
  color: white;
  background-position: 95%;
}
.header .vectors .img1 {
  position: absolute;
  left: 58.9%;
  right: -12.78%;
  top: 0.6%;
  bottom: 77.52%;
}
.header .vectors .img2 {
  position: absolute;
  left: 58.9%;
  right: -12.78%;
  top: 0.6%;
  bottom: 77.52%;
}
.header .vectors .img3 {
  position: absolute;
  width: 979.81px;
  height: 229.04px;
  left: 559.35px;
  top: 314.57px;
}
.header .vectors .img4 {
  position: absolute;
  width: 1631.4px;
  height: 478.13px;
  left: 258px;
  top: 278.66px;
}
.header .vectors .img5 {
  position: absolute;
  width: 1631.4px;
  height: 478.13px;
  left: 260px;
  top: 278.66px;
  opacity: 0.2;
}
.header .vectors .img6 {
  position: absolute;
  width: 179px;
  height: 320.76px;
  left: 701px;
  top: 248.34px;
}
.header .vectors .img7 {
  position: absolute;
  width: 401.77px;
  height: 487.72px;
  left: 846.12px;
  top: 108px;
}
.header .vectors .img8 {
  position: absolute;
  width: 401.77px;
  height: 487.72px;
  left: 846.12px;
  top: 121px;
}
.header .vectors .img9 {
  position: absolute;
  width: 310px;
  height: 293px;
  left: 1308px;
  top: 284px;
}
.header .vectors .img10 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 1284px;
  top: 279px;
  transform: matrix(0, -1, -1, 0, 0, 0);
}
.header .vectors .img11 {
  position: absolute;
  width: 395px;
  height: 123.73px;
  left: 897px;
  top: 267px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.topComponents {
  box-sizing: border-box;
  position: absolute;
  width: 1196px;
  height: 135px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 496px;
  opacity: 70%;
  background: #FFFFFF;
  box-shadow: 0px 25px 39px rgba(55, 110, 176, 0.13);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topComponents .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #2B98F7;
  width: 60px;
  height: 60px;
}
.topComponents .blueComp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 100%;
  background-color: #064B87;
}

.mid {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.mid .midLeft {
  width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mid .midRight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 23rem;
}
.mid .midRight .top {
  position: absolute;
  top: 0;
  right: 322px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 404px;
  height: 90px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 24px 74px rgba(22, 55, 92, 0.09);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 15px;
}
.mid .midRight .bottom {
  position: absolute;
  width: 309px;
  height: 111px;
  top: 242px;
  right: 414px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 24px 74px rgba(22, 55, 92, 0.09);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 15px;
}
.mid .midRight .right {
  position: absolute;
  width: 125px;
  height: 111px;
  right: 116px;
  top: 202px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 24px 74px rgba(22, 55, 92, 0.09);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 15px;
}
.mid .midRight img {
  align-items: center;
}

.bottomPart {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  flex-direction: row;
}
.bottomPart .bottomComp {
  width: 75rem;
  height: 387px;
  background: radial-gradient(105.19% 408.75% at 95.73% -5.19%, #2377A7 0%, #003E76 100%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bottomPart .bottomComp .components {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 68.5rem;
  border-radius: 10px;
  top: 1226px;
}
.bottomPart .bottomComp .components .comp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  max-width: 240.43px;
  max-height: 263px;
  border-radius: 10px;
}
.bottomPart .bottomComp .components .comp img {
  width: 15rem;
  height: 12.75rem;
}
.bottomPart .bottomComp .components .comp p {
  font-weight: 600;
}

.baseComp {
  position: relative;
  height: 6.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.22);
}
.baseComp .iconGroup {
  display: flex;
  justify-content: space-around;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  top: -43px;
  width: 100%;
}

.para {
  display: flex;
  margin-top: 9rem;
  margin-bottom: 5rem;
  text-align: center;
  color: white;
  font-size: medium;
}

.roundIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.7rem;
  height: 3.7rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  margin-bottom: 1.3rem;
}

.iconComp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.demo-container {
  display: flex;
  margin-top: 3rem;
}

.demo-description {
  width: 35%;
  background-color: #eeeeee;
  padding: 40px 90px 30px 90px;
}

.demo-form {
  width: 75%;
  background-color: #F4F6F6;
  padding: 30px 90px 20px 80px;
}

.demo-des-head {
  font-size: 2rem;
  color: #084D77;
  margin-bottom: 20px;
}

.demo-des-para {
  color: #717171;
  font-size: 15px;
}

.demo-form-row {
  display: flex;
  margin-bottom: 19px;
}

input {
  min-width: 45%;
  padding: 7px 6px;
  border: solid 1px #D9D9D9;
  font-size: 14px;
  margin-right: 19px;
  /* border-radius: x; */
}

.username-input {
  background: url("./input_icons/Path 261username.svg") no-repeat right;
  background-size: 10px;
  background-position: 95%;
  background-color: #FFFFFF;
}

.email-input {
  background: url("./input_icons/Path 263email.svg") no-repeat right;
  background-size: 12px;
  background-position: 95%;
  background-color: #FFFFFF;
}

.country-input {
  background: url("./input_icons/Path 276country.svg") no-repeat right;
  background-size: 12px;
  background-position: 95%;
  background-color: #FFFFFF;
}

.phone-input-container {
  min-width: 300px;
  display: flex;
}

#cn-code {
  margin: 0;
  min-width: 50px;
  width: 30px;
}

.phone-input {
  background: url("./input_icons/Path 274phone.svg") no-repeat right;
  background-size: 12px;
  background-position: 95%;
  background-color: #FFFFFF;
  min-width: 114%;
}

.company-input {
  background: url("./input_icons/Path 279comany.svg") no-repeat right;
  background-size: 13px;
  background-position: 95%;
  background-color: #FFFFFF;
}

.job-input {
  background: url("./input_icons/Path 281job.svg") no-repeat right;
  background-size: 11px;
  background-position: 95%;
  background-color: #FFFFFF;
}

.message-input {
  background: url("./input_icons/Path 267message.svg") no-repeat right;
  background-size: 12px;
  background-position: 98% 10%;
  background-color: #FFFFFF;
  height: 50px;
}

textarea {
  font-size: 16px;
  padding: 2px 5px;
  width: 92%;
  border: solid 1px #D9D9D9;
  margin-bottom: 12px;
}

.demo-form-submit-btn {
  padding: 0px 5px;
  text-align: left;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100px;
  background: url("./input_icons/Group 7button.svg") no-repeat right, #064B87;
  background-position: 95%;
}

.footer {
  padding-top: 10px;
  height: 190px;
  background: #150D2B;
  display: flex;
  justify-content: space-around;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .footerLeft {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.footerRight {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */